<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" testdox="true">
    
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <!-- <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite> -->
    </testsuites>

    <!-- <groups>
        <exclude>
            <group>integration</group>
        </exclude>
    </groups> -->

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="db"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="tecnofit_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="root"/>
    </php>
</phpunit>